/**
 * User: mali01
 * Date: 2012-06-07
 * Time: 12:56
 */
html, body {
    background-color: #fff;
    color: #000;
    font: normal 14px/20px Pontano Sans, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#example {
    margin: auto;
    width: 640px;
}

#example h1 {
    font-family: Oxygen;
    fons-size: 16px;
}

.fixed-table-header,
.fixed-table-footer {
    -moz-transition: left 0.2s ease 0s,
                     width 0.2s ease 0s;

    border: 1px solid #eee;
    border-collapse: collapse;
    margin: 2em auto 1em;
    min-width: 640px;
}

#col-idx, .col-idx { width: 5% }
#col-name, .col-name { width: 40% }
#col-age, .col-age { width: 10% }
#col-sex, .col-sex { width: 15% }
#col-location, .col-location { width: 30% }

.fixed-table-header thead,
.fixed-table-footer tfoot {
    background-color: #eee;
}

.fixed-table-header thead th,
.fixed-table-footer tfoot th {
    font-family: Oxygen;
    font-size: 16px;
    text-align: left;
    text-shadow: 1px 1px 0 #fff;
}

.fixed-table-footer tfoot th {
    font-size: 11px;
}

.fixed-table-header thead th,
.fixed-table-header tbody td,
.fixed-table-footer tfoot th {
    padding: 3px 8px;
}

.fixed-table-header tbody tr:nth-child(odd) td {
    background-color: #ccc;
    color: #000;
}